@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
	width: 100%;
    display: block;
}

body { 
    margin: 0; 
    padding: 0; 
}

header { 
    overflow: hidden;
    background: maroon; 
}

.logo { 
    height: 3.5rem;
    width: auto;
    background-color: maroon;
    padding: .5rem 5%;
}

.headpicture {
    overflow: hidden;
    background-image: url(../images/camera.svg);
    background-color: maroon;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40rem;
}

h1 {
    font-weight: normal; 
    font-size: 3.25rem;
    background-color: maroon; 
    text-transform: uppercase;
    letter-spacing: -.1rem;
    margin: 6rem 0; 
    padding: .25rem 5%;
}
    
    
    
    
    